<%= form_with(model: meeting, local: true) do |form| %>
  <% if meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% meeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="row">
  <div class="small-5 large-12 columns">
  <div class="field">
    <%= form.label :nombre_del_padre %>
    <%= form.text_field :name, id: :meeting_name %>
  </div>
 <div class="field">
    <%= form.label :Hora_y_fecha_de_la_cita %>
    <%= form.datetime_select :start_time, {:ampm => true} %>
  </div>

  <div class="actions">
    <%= form.submit  ( form.object.new_record? ? "Crear" : "Actualizar"), class: "button secondary" %>
  </div>
   </div></div>
<% end %>
