<%- if controller_name != 'sessions' %>
<%= link_to '<button type="button" class="button primary basic">Iniciar sesión</button>'.html_safe, new_session_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
<%= link_to '<button type="button" class="button secondary">Registrarse</button>'.html_safe, new_registration_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
<%= link_to '<button type="button" class="button secondary">¿Olvidaste tu contraseña?</button>'.html_safe, new_password_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
<%= link_to '<button type="button" class="button secondary">¿No recibiste instrucciones de confirmación?</button>'.html_safe, new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
<%= link_to '<button type="button" class="button secondary">¿No recibiste instrucciones de desbloqueo?</button>'.html_safe, new_unlock_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
<% end -%>
