<%= form_with(model: medicina, local: true) do |form| %>
  <% if medicina.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medicina.errors.count, "error") %> prohibited this medicina from being saved:</h2>

      <ul>
      <% medicina.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :medicina_nombre %>
  </div>

  <div class="field">
    <%= form.label :aplicacion %>
    <%= form.text_field :aplicacion, id: :medicina_aplicacion %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion, id: :medicina_descripcion %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha, id: :medicina_fecha %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
