<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @medicina.nombre %>
</p>

<p>
  <strong>Aplicacion:</strong>
  <%= @medicina.aplicacion %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @medicina.descripcion %>
</p>


<%= link_to 'Edit', edit_medicina_path(@medicina) %> |
<%= link_to 'Back', medicinas_path %>
