<%= form_with(model: persona, local: true) do |form| %>
  <% if persona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(persona.errors.count, "error") %> prohibited this persona from being saved:</h2>

      <ul>
      <% persona.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
  <div class="small-5 large-4 columns">
  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :persona_nombre %>
  </div>
  </div>
  <div class="small-5 large-4 columns">
  <div class="field">
    <%= form.label :edad %>
    <%= form.number_field :edad, id: :persona_edad %>
  </div>
  </div>
  <div class="small-5 large-4 columns">
  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion, id: :persona_descripcion %>
  </div>
  </div>
 </div>
 <div class="row"> 
  <div class="small-5 large-4 columns">
  <div class="field">
    <%= form.label :peso %>
    <%= form.text_field :peso, id: :persona_peso %>
  </div>
  </div>
   <div class="small-5 large-4 columns">
  <div class="field">
    <%= form.label :altura %>
    <%= form.text_field :altura, id: :persona_altura %>
  </div>
  </div>
   <div class="small-5 large-4 columns">
  <div class="field">
    <%= form.label :foto %>
    <%= form.file_field :foto, id: :persona_foto %>
  </div>
  </div>
  </div>
  <h1> Datos de padre </h1>
  <div class="row">
  <div class="small-5 large-4 columns">
  <div class="field">
    <%= form.label :nombre del padre %>
    <%= form.text_field :padre, id: :persona_padre %>
  </div>
  </div>
  <div class="small-5 large-4 columns">
  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_field :direccion, id: :persona_direccion %>
  </div>
  </div>
  </div>
  <div class="row">
  <div class="small-5 large-4 columns">
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :persona_email %>
  </div>
  </div>
  <div class="small-5 large-4 columns">
  <div class="field">
    <%= form.label :contacto %>
    <%= form.text_field :contacto, id: :persona_contacto %>
  </div>
 </div>
  </div>
  <div class="actions">
    <%= form.submit ( form.object.new_record? ? "Crear" : "Actualizar"), class: "button secondary" %>
  </div>
<% end %>
