<h1>Editing Persona</h1>

<%= render 'form', persona: @persona %>

<%= link_to '<button type="button" class="button primary small">Mostrar</button>'.html_safe, @persona %> |
<%= link_to '<button type="button" class="button secondary basic">Regresar</button>'.html_safe, persona_path %>|
<%= link_to '<button type="button" class="button warning basci">Inicio</button>'.html_safe, persona_path %>

