<style>
img{
  max-width:  300%;
}
td{
  width: 40px;
}

table{
  vertical-align: center;
}
</style>
<center>
<p id="notice"><%= notice %></p>

<h1>Pacientes</h1>
<% if !@personas.blank? %>
<table WIDTH="99%">
  <thead>
    <tr>
     <th colspan="2">Foto</th>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Padre</th>
      <th>Descripcion</th>
      <th>Peso</th>
      <th>Altura</th>
      <th>Direccion</th>
      <th>Email</th>
      <th>Contacto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @personas.each do |persona| %>
      <tr>
      <td><%= image_tag(persona.foto_url)if persona.foto? %></td>
        <td></td>
        <td><%= persona.nombre %></td>
        <td><%= persona.edad %></td>
        <td><%= persona.padre %></td>
        <td><%= persona.descripcion %></td>
        <td><%= persona.peso %></td>
        <td><%= persona.altura %></td>
        <td><%= persona.direccion %></td>
        <td><%= persona.email %></td>
        <td><%= persona.contacto %></td>
        <td><%= link_to '<button type="button" class="button primary small">Mostrar</button>'.html_safe, persona %></td>
        <% if current_user.role == "Doctor" %>
        <td><%= link_to '<button type="button" class="button success small">Editar</button>'.html_safe, edit_persona_path(persona) %></td>
        <td><%= link_to '<button type="button" class="button alert small">¡Eliminar!</button>'.html_safe, persona, method: :delete, data: { confirm: '¿Estas seguro?' } %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% else %>
<div data-alert class="alert-box alert round large-5 small-7">
    No se encontró nada con <b>" <%= params[:search] %> "</b>
    <a href="#" class="close">&times;</a>
</div>

  <%= link_to '<button type="button" class="button">Inicio</button>'.html_safe, personas_path %>
<% end %>

<%= link_to '<button type="button" class="button warning basci">Nuevo paciente</button>'.html_safe, new_persona_path %>
</center>

