 <% @personasBus = Persona.where(@palabraB) %>
  
<table WIDTH="99%">
  <thead>
    <tr>
    <th colspan="2">Foto</th>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Padre</th>
      <th>Descripción</th>
      <th>Peso</th>
      <th>Altura</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  </table>