<style>
img{
  max-width:  100%;
}
.imagen{
  width: 400px;
}
</style>
<%= link_to '<button type="button" class="button tiny success" id="open-hide">Generar PDF</button>'.html_safe, persona_path(@persona, format: "pdf") %> 

<div class="row">
<div class="large-8 columns imagen">
  <%= image_tag(@persona.foto_url) if @persona.foto?%>
  </div>
<div class="large-4 columns">
<p>
  <strong>Nombre:</strong>
  <%= @persona.nombre %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @persona.edad %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @persona.descripcion %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @persona.peso %>
</p>

<p>
  <strong>Altura:</strong>
  <%= @persona.altura %>
</p>

<p>
  <strong>Padre:</strong>
  <%= @persona.padre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @persona.direccion %>
</p>

<p>
  <strong>Email:</strong>
  <%= @persona.email %>
</p>

<p>
  <strong>Contacto:</strong>
  <%= @persona.contacto %>
</p>
</div>
</div>

<center>
<% if current_user.role == "Doctor" %>
<%= link_to '<button type="button" class="button success basic">Editar</button>'.html_safe, edit_persona_path(@persona) %> |
<% end %>
<%= link_to '<button type="button" class="button secondary basic">Regresar</button>'.html_safe, personas_path %>

<div class="row">
<% if current_user.role == "Doctor" %>
  <div class="large-2 columns">
  <% else %>
  <div class="large-12 colums">
  <% end %> 
  <h2>Medicinas</h2>
<% @persona.medicinas.each do |medicina| %>
   <p>
    <strong>Nombre:</strong>
    <%= medicina.nombre %>
  </p>
  <p>
    <strong>Aplicación:</strong>
    <%= medicina.aplicacion %>
  </p>
   <p>
    <strong>Descripcion:</strong>
    <%= medicina.descripcion %>
  </p>
  <p>
    <strong>Fecha:</strong>
    <%= medicina.fecha %>
  </p>
 <% end %>
  </div>

  <% if current_user.role == "Doctor" %>
<div class="large-6 columns">
<h2>Añadir medicamento</h2>
<%= form_for([@persona, @persona.medicinas.build]) do |form| %>
  <p>
    <%= form.label :nombre_del_medicamento %><br>
    <%= form.text_field :nombre %>
  </p>
  <p>
    <%= form.label :aplicación %><br>
    <%= form.select :aplicacion, ['Oral', 'Intradérmica', 'Subcutánea', 'Intramuscular'] %>
  </p>
   <p>
    <%= form.label :descripcion %><br>
    <%= form.text_area :descripcion %>
  </p>
  <p>
    <%= form.label :fecha %><br>
    <%= form.date_select :fecha %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
<% end %>
</div> </div>
</center>