<div class="row">
  <div class="large-12 columns">
  <center>
<h2>Editar perfil</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(Dejar en blanco en caso de no quererlo modificar)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> caracteres como minimo</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :confirmar_contraseña %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :contraseña_actuar %> <i>(Necesitamos tu contraseña actual para confirmar cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar", class: "button success" %>
  </div>
<% end %>

<h3>Cancelar mi cuenta</h3>

<p>¿Infeliz? <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "esta seguro?" }, method: :delete, class: "button success" %></p>

<%= link_to '<button type="button" class="button secondary basic">Regresar</button>'.html_safe, :back %>
</div></div>
</center>